@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    background-image: url(https://plus.unsplash.com/premium_photo-1700766408965-f73b16458fee?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 83px);
}